# Replit DB
.replit.backup
.cache/
.upm/
.config/
.git/
.gitignore
.replit
replit.nix
poetry.lock
pyproject.toml

# Файлы проекта
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Сессии и данные Telethon
*.session
*.session-journal

# Файлы окружения
.env
.venv
venv/
ENV/

# Тестовые файлы и CSV
*.csv
testing/

# Логи
*.log