entrypoint = "run.py"
modules = ["python-3.10", "bash"]

[nix]
channel = "stable-25_05"
packages = ["openssl"]

[deployment]
run = ["python", "run.py"]
deploymentTarget = "cloudrun"

[env]
PYTHONUNBUFFERED = "1"

[[ports]]
localPort = 3000
externalPort = 80
